

*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess


#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#carpeta de claves
application/config/database.php
application/config/config.php

#base
assets/esquemabase/*

#archivos de public
public/contacto